.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  display: grid;
  place-content: center;
  transition: all 0.5s;
  place-items: center;
}

.news {
  list-style-type: none;
  padding-left: 0;
}

.news-title {
  color: blue;
}

.new-name {
  display: contents;
}

.new-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.courses {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.course-list {
  display: flex;
}

.course {
  margin-right: 5px;
}

.course-growth {
  color: gray;
}

.search-options-block {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.search-link {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

.search-form {
  width: 100%;
}

.search-input {
  width: 86%;
  border-color: yellow;
}

.search-button {
  background-color: yellow;
}

.search-option {
  margin-right: 5px;
}

h3 {
  color: blue;
}